body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color:rgb(193, 195, 115);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, button {
	margin: 5px;
}

.navbar{
  background-color: rgb(54, 54, 54);
  overflow: hidden;
  padding: 20px;
  margin-bottom: 1%;
}
.navbar a{
  color: #f2f2f2;
  padding: 20px;
  text-decoration: none;
  font-size: 18px;
}
.navbar a:hover{
  background-color:rgb(193, 195, 115);
  border-radius: 20px;
}

.box{
  width: fit-content;
  border-radius: 30px;
  background-color:#edf2f5;
  padding: 35px;
  margin: 0 auto;
}

.content{
  justify-content: center;
}


